<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 text-center">
    <h1 class="display-3">{{pageTitle}}</h1>
    <blockquote class="blockquote text-center">
      <footer class="blockquote-footer">{{pageDescription}}</footer>
    </blockquote>
    <div class="addthis_inline_share_toolbox"></div>
    <iframe 
      id="site-content"
      class="embed-responsive-item container-fluid" 
      [style.height]="pageHeight"
      [src]="pageSource">
    </iframe>
    <div class="row container-fluid">
      <div class="card border-light mb-3 page-wrap-up" style="max-width: 20rem;">
        <div class="card-header"><small>Post Stats</small></div>
        <div class="card-body text-info">
          <p class="card-text"><small>
            Category: {{pageCategory}}<br>
            Word Count: {{pageWordCount}}<br>
            Tags: {{pageTags}}<br>
            Created On: {{pageCreatedOn}}<br>
            Last Updated: {{pageUpdatedOn}}
          </small></p>
        </div>
      </div>

      <ng2-adsense class="page-wrap-up" [width]="450"></ng2-adsense>
    </div>
    
    <div *ngIf="displayComments" 
      id="content-page-facebook-comments">

      <div [innerHTML]="facebookComments"></div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
