<div class="row text-center">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <iframe 
      id="site-content"
      class="embed-responsive-item container-fluid" 
      [src]="pageSource">
    </iframe>
    <!--
      <iframe 
        id="site-content"
        class="embed-responsive-item container-fluid" 
        [src]="pageSource" 
        [style.height]="pageHeight"
        [style.width]="pageWidth">
      </iframe>
    -->
    
    <div *ngIf="displayComments" 
      id="content-page-facebook-comments"
      style="text-align:center; padding-left:144px;" 
      [style.width]="pageWidth">

      <div [innerHTML]="facebookComments"></div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
