<div *ngIf="displayNav">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <img class="rounded-circle" 
        alt="{{componentPackage['BrandName']}}" 
        src="{{componentPackage['BrandImageUri']}}">
    </a>
    <a class="navbar-brand" routerLink="/">{{componentPackage['BrandName']}}</a>
    <button 
      type="button" 
      class="navbar-toggler" 
      data-toggle="collapse" 
      data-target="#app-navbar-data-target" 
      aria-controls="app-navbar-data-target"
      aria-expanded="false">
    </button>
    <div class="collapse navbar-collapse" id="app-navbar-data-target">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let leftItem of navbarItemsLeft" 
          class="nav-item {{leftItem.itemClass}}">

          <a *ngIf="leftItem.itemType == 'link'" 
            class="nav-link"
            href="{{leftItem.linkLocation}}">{{leftItem.label}}</a>

          <a *ngIf="leftItem.itemType == 'ngLink'" 
            class="nav-link" 
            routerLink="{{leftItem.linkLocation}}" 
            href="#">{{leftItem.label}}</a>

          <p *ngIf="leftItem.itemType == 'label'" 
            class="navbar-text">{{leftItem.label}}</p>
          
          <div *ngIf="leftItem.itemType == 'separator'" 
            class="{{leftItem.itemClass}}"></div>

          <a *ngIf="leftItem.itemType == 'dropdown'" 
            href="{{leftItem.linkLocation}}" 
            class="nav-link dropdown-toggle" 
            data-toggle="dropdown"
            id="top-navbar-dropdown-{{leftItem.label}}"
            aria-haspopup="true"
            aria-expanded="false">
            {{leftItem.label}} <span class="caret"></span>
          </a>

          <div *ngIf="leftItem.itemType == 'dropdown'" 
            class="dropdown-menu"
            attr.aria-labelledby="top-navbar-dropdown-{{leftItem.label}}">

            <div *ngFor="let dropdownItem of leftItem.dropdownItems"
              class="{{dropdownItem.itemClass}}">

              <a class="dropdown-item"
                *ngIf="dropdownItem.itemType == 'link'" 
                href="{{dropdownItem.linkLocation}}">{{dropdownItem.label}}</a>

              <a class="dropdown-item"
                *ngIf="dropdownItem.itemType == 'ngLink'" 
                routerLink="{{dropdownItem.linkLocation}}" h
                ref="#">{{dropdownItem.label}}</a>
            </div>
          </div>
        </li>
      </ul><!-- /.nav /.mr-auto -->
      <ul class="navbar-nav navbar-right">
        <form class="form-inline">
          <input type="text" class="form-control mr-sm-2" 
          placeholder="{{navbarSearchForm.placeHolder}}">
          <button type="submit" 
            disabled="disabled" 
            class="btn btn-default" 
            data-toggle="tooltip" 
            data-placement="bottom" 
            title="Coming soon">{{navbarSearchForm.submitButtonLabel}}</button>
          <!-- To replace the element above once implemented -->
          <!--<button type="submit" class="btn btn-default">{{navbarSearchForm.submitButtonLabel}}</button>-->
        </form>

        <li *ngFor="let rightItem of navbarItemsRight" 
          class="nav-item {{rightItem.itemClass}}">

          <a *ngIf="rightItem.itemType == 'link'" 
            class="nav-link"
            href="{{rightItem.linkLocation}}">{{rightItem.label}}</a>

          <a *ngIf="rightItem.itemType == 'ngLink'" 
            class="nav-link"
            routerLink="{{rightItem.linkLocation}}" 
            href="#">{{rightItem.label}}</a>

          <p *ngIf="rightItem.itemType == 'label'" 
            class="navbar-text">{{rightItem.label}}</p>

          <a *ngIf="rightItem.itemType == 'dropdown'" 
            href="{{rightItem.linkLocation}}" 
            class="nav-link dropdown-toggle" 
            data-toggle="dropdown"
            id="top-navbar-dropdown-{{rightItem.label}}"
            aria-haspopup="true"
            aria-expanded="false">
            {{rightItem.label}} <span class="caret"></span>
          </a>

          <div *ngIf="rightItem.itemType == 'dropdown'" 
            class="dropdown-menu"
            attr.aria-labelledby="top-navbar-dropdown-{{rightItem.label}}">

            <div *ngFor="let dropdownItem of rightItem.dropdownItems" 
              class="{{dropdownItem.itemClass}}">

              <a class="dropdown-item" 
                *ngIf="dropdownItem.itemType == 'link'" 
                href="{{dropdownItem.linkLocation}}">{{dropdownItem.label}}</a>
            </div>
          </div>
        </li>
      </ul><!-- /.nav /.navbar-nav /.navbar-right -->
    </div><!-- /.navbar-collapse -->
  </nav>
</div>