---
layout: default
published: true
---

<div class="jumbotron">
  <h1>Welcome to Projects section</h1>
  <p><i class="material-icons" style="font-size: 96px; float: left;">developer_board</i> Electronics, software development (including this site!), and more.</p>
  <!-- Use the same construct to display buttons for tags -->
  <a href="{{ site.baseurl }}/blog">Back to Blog</a>
</div>

<div class="posts">
  {% for post in site.posts %}
  	{% if post.category == "projects" %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div>
          <p>Category: <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></p>
        </div>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
  	{% endif %}
  {% endfor %}
</div>
