/*
app-root .mdl-layout--fixed-header .mdl-layout__header .mdl-layout__header-row span img {
    padding-right: 10px;
}
*/

/*
#app-header-brand-img {
    padding-right: 10px;
}

app-root app-header .mdl-layout--fixed-header .mdl-layout__drawer nav span {
    align-self: center;
}

#app-header-drawer-element {
    align-self: auto;
}

.mdl-layout__drawer-button {
    color: white;
}
*/