<div class="container">
  <div class="jumbotron">
    <h1>{{componentPackage["Title"]}}</h1>
    <p>{{componentPackage["Description"]}}</p>
    <pre>
1.2.3.4
| | | |____ {{componentPackage["RevisionPolicy"]}}
| | |______ {{componentPackage["BuildPolicy"]}}
| |________ {{componentPackage["MinorPolicy"]}}
|__________ {{componentPackage["MajorPolicy"]}}
</pre>
  <pre>{{componentPackage["CurrentRelease"]}} {{componentPackage["CurrentVersionValue"]}} ({{componentPackage["Codename"]}} {{componentPackage["CodeNameValue"]}})</pre>
  </div>
</div>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="page-header">
        <h2>{{componentPackage["HeaderClientChangeLog"]}}</h2>
      </div>
      <pre>
<span *ngFor="let changeLog of clientChanges">{{changeLog}}<br/></span>
      </pre>
    </div>
    <div class="col-md-5">
      <div class="page-header">
        <h2>{{componentPackage["HeaderServerChangeLog"]}}</h2>
      </div>
      <pre>
<span *ngFor="let changeLog of serverChanges">{{changeLog}}<br/></span>
      </pre>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>