<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="material-icons">blur_on</i>
    </a>
    <ul class="nav navbar-nav">
      <li><p class="navbar-text">Copyright © {{year}}</p></li>
      <li class="dropup">
        <a href="#" 
            class="dropdown-toggle" 
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            Page Views: <span class="versionCode">{{pageviews}}</span> <span class="caret"></span>
          </a>
        <ul class="dropdown-menu">
          <li><p class="navbar-text"><i class="material-icons">bubble_chart</i> Visitors: <span class="versionCode">{{visitors}}</span></p></li>
          <li><p class="navbar-text"><i class="material-icons">insert_chart</i> My Views: <span class="versionCode">{{myViews}}</span></p></li>
          <li><p class="navbar-text"><i class="material-icons">show_chart</i> Site Views: <span class="versionCode">{{siteViews}}</span></p></li>
        </ul>
      </li>
      <li><p class="navbar-text">Version: <span class="versionCode">{{siteVersion}}</span></p></li>
    </ul><!-- /.nav /.navbar-nav -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-text addthis_inline_follow_toolbox"></div>
      </li>
      <li>
        <div class="navbar-text custom-buttons">
          <a *ngFor="let btn of customButtons" href="{{btn.LinKRef}}" target="_blank">
            <img src="{{btn.ImgRef}}" class="{{btn.Classes}}" alt="{{btn.Alt}}" height="{{btn.Height}}" width="{{btn.Width}}" />
          </a>
          <!--
          <a href="{{tableauProfile}}" target="_blank"><img src="{{tableauPublicUri}}" alt="{{tableauPublicAlt}}" height="20" width="20" /></a>
          <a href="{{xboxProfile}}" target="_blank"><img src="{{xboxUri}}" alt="{{xboxAlt}}" height="20" width="20" /></a>
          <a href="{{psnProfile}}" target="_blank" class="background-color-white"><img src="{{psnUri}}" alt="{{psnAlt}}" height="20" width="20" /></a>
          <a href="{{nProfile}}" target="_blank"><img src="{{nUri}}" alt="{{nAlt}}" height="20" width="20" /></a>
          -->
        </div>
      </li>
    </ul>
  </div>
</nav>
